@import "vars";

.a {
  border-bottom: 1px solid;
}

.a:hover {
  border-bottom: none;
}

.container {
  padding: $sizing-700 $sizing-300;
}

.navbar {
  @apply bg-white block w-full flex justify-between;
  padding: $sizing-400 $sizing-300;
  border-bottom: 2px solid $neutral-300;
}

.main {
  background-color: $neutral-200;
}

.highlight {
  color: $blue-500;
}

.title {
  @extend .headingLG;
  margin-bottom: $sizing-500;
}

.description {
  @extend .bodyMD;
  margin-bottom: $sizing-600;
}

.formBox {
  text-align: center;
  background-color: white;
  box-shadow: 0px 4px 12px rgba(33, 36, 41, 0.14);
  border-radius: 2px;
  padding: $sizing-700 $sizing-500;
}

.formTitle {
  @extend .headingSM;
  font-size: 22px;
  font-weight: 800;
  margin-bottom: $sizing-300;
}

.formSub {
  @extend .subtitleSM;
  font-size: 14px;
  color: $neutral-700;
  margin-bottom: $sizing-600;
}

.hr {
  color: $neutral-300;
  margin-bottom: $sizing-500;
}

.formLabel {
  @extend .headingXS;
  text-align: left;
  margin-bottom: $sizing-200;
  font-weight: 700;
}

.formGeneral {
  @apply w-full;
  border: 2px solid black;
  box-shadow: inset 6px 6px 0px #eefbfb;
  margin-bottom: $sizing-300;
  min-height: $sizing-700;
  padding-left: $sizing-200;
}

.radioWrapper {
  @apply flex;
}

.formRadio {
  display: block;
  width: $sizing-400;
  height: $sizing-400;
  margin: 0 $sizing-100 $sizing-300 0;
  accent-color: $blue-500;
}

.formLegal {
  @extend .subtitleXS;
  @apply text-left;
  // padding-left: $sizing-300;
  margin-bottom: $sizing-500;
  color: $neutral-700;
  font-size: 13px;
  font-weight: normal;
  padding-left: $sizing-300;

  li {
    line-height: 1.2rem;
    margin-bottom: 8px;
  }
}

.contentTitle {
  @extend .headingSM;
  @apply font-bold;
  margin-bottom: $sizing-400;
}

.contentSub {
  @extend .bodySM;
  @apply font-normal;
  margin-bottom: $sizing-400;
}

.contentText {
  @extend .bodyMD;
  margin-bottom: $sizing-400;

  strong {
    @apply font-bold;
  }
}

.together {
  background-color: $blue-700;
  color: white;
  padding: $sizing-700 $sizing-300 $sizing-100;
  margin-bottom: $sizing-700;
}

.results {
  ul {
    list-style: none;
  }
  li {
    @extend .contentText;
    display: flex;
    align-items: flex-start;
  }
  li::before {
    background: url("/icon/check.svg") no-repeat left top;
    width: 24px;
    height: 24px;
    content: "";
    padding-right: 18px;
    margin-right: 18px;
  }
}

.benefits {
  background-color: white;

  :global(.title) {
    @extend .headingLG;
    font-weight: 900;
    margin-bottom: 64px;
  }
}

.cta {
  background-color: $blue-700;
  color: white;
  background-image: url("/graph-left.svg"), url("/graph-right.svg");
  background-position: -320px 30px, -30px -320px;
  background-size: 200%;
  background-repeat: no-repeat;
  text-align: center;

  :global(.title) {
    @extend .headingMD;
    margin-bottom: $sizing-300;
  }

  :global(.content) {
    @extend .bodyMD;
    font-size: 20px;
    line-height: 150%;
    margin-bottom: $sizing-600;
  }
}

.demo {
  background-color: $neutral-200;

  :global(.title) {
    @extend .headingLG;
    margin-bottom: $sizing-300;
  }

  :global(.button) {
    margin-bottom: $sizing-800;
  }

  :global(.thumbnail) {
    cursor: pointer;
  }
}

.integrations {
  background-color: $neutral-200;

  :global(.title) {
    @extend .headingLG;
    // font-weight: 900;
    margin-bottom: $sizing-300;
  }

  :global(.content) {
    @extend .bodyLG;
    margin-bottom: $sizing-600;
  }

  :global(.brands-wrapper) {
    width: 80%;
    margin-bottom: $sizing-600;

    :global(.brand) {
      width: 50%;
      margin-bottom: $sizing-600;
    }

    :global(.brand-icon) {
      margin-bottom: $sizing-100;
    }

    :global(.label) {
      @extend .bodySM;
      font-weight: 500;
    }
  }
}

.footer {
  background-color: $blue-500;

  :global(hr) {
    border-color: $blue-300;
    margin: $sizing-500;
  }

  :global(.social) {
    display: flex;
    justify-content: space-between;
    margin-bottom: $sizing-500;
  }

  :global(.legal) {
    text-align: center;
  }
}
