$blue-700: #0b485b;
$blue-500: #19c1ce;
$blue-300: #07e5eb;

$yellow-500: #f2bf4e;
$yellow-200: #f4ca6d;

$neutral-900: #212429;
$neutral-700: #7e8a98;
$neutral-500: #97a1ac;
$neutral-300: #cfd3d8;
$neutral-200: #f1f3f5;

// $font-nunito;
// Nunito Sans
// $font-grotesque;
// Darker Grotesque

$sizing-100: 8px;
$sizing-200: 14px;
$sizing-300: 16px;
$sizing-400: 20px;
$sizing-500: 24px;
$sizing-600: 32px;
$sizing-700: 40px;
$sizing-800: 56px;

.headingLG {
  font-family: var(--grotesque-font);
  font-size: $sizing-700;
  line-height: 100%;
  font-weight: 900;
}

.headingMD {
  font-family: var(--grotesque-font);
  font-size: $sizing-600;
  line-height: 100%;
  font-weight: 700;
}

.headingSM {
  font-family: var(--grotesque-font);
  font-size: $sizing-600;
  line-height: 110%;
  font-weight: 500;
}

.headingXS {
  font-family: var(--grotesque-font);
  font-size: $sizing-500;
  line-height: 110%;
  font-weight: 500;
}

.subtitleSM {
  font-family: var(--nunito-font);
  font-size: $sizing-400;
  line-height: 140%;
  font-weight: 400;
}

.subtitleXS {
  font-family: var(--nunito-font);
  font-size: $sizing-200;
  line-height: 120%;
  font-weight: 200;
}

.bodyLG {
  font-family: var(--nunito-font);
  font-size: $sizing-400;
  line-height: 150%;
  font-weight: 400;
}

.bodyMD {
  font-family: var(--nunito-font);
  font-size: $sizing-300;
  line-height: 150%;
  font-weight: 300;

  strong {
    font-weight: 600;
  }
}

.bodySM {
  font-family: var(--nunito-font);
  font-size: $sizing-200;
  line-height: 150%;
  font-weight: 200;
}

.a {
  border-bottom: 1px solid;
}

.a:hover {
  border-bottom: none;
}

.highlight {
  color: $blue-500;
}

@media (min-width: 1024px) {
  // .headingMD {
  //   font-size: $sizing-700;
  // }

  // .headingSM {
  //   font-size: $sizing-500;
  // }

  // .headingXS {
  //   font-size: $sizing-400;
  // }

  // .subtitleSM {
  //   font-size: $sizing-300;
  // }
}
