@import "@/styles/vars.scss";

.cta {
  color: white;
  text-align: center;
  margin: 4rem $sizing-300;

  :global(.wrapper) {
    background-color: $blue-700;
    background-image: url("/graph-left.svg"), url("/graph-right.svg");
    background-position: -320px 30px, -30px -320px;
    background-size: 200%;
    background-repeat: no-repeat;

    padding: 5rem 12.5rem;
  }

  :global(.title) {
    @extend .headingMD;
    font-weight: 900;
    width: 90%;
    margin: 0 auto $sizing-300;
  }

  :global(.content) {
    @extend .bodyLG;
    font-size: 18px;
    font-weight: 300;
    margin-bottom: $sizing-600;
  }
}

@media (min-width: 1400px) {
  .cta {
    :global(.wrapper) {
      background-position: -29.3rem -29.3rem, 30rem -31.8rem;
      background-size: 100%;
      background-repeat: no-repeat;
    }

    :global(.title) {
      width: 60%;
    }

    :global(.content) {
      @apply mx-auto;
      width: 96%;
    }

    :global(button) {
      padding-left: 3rem;
      padding-right: 3rem;
    }
  }
}
