@import "@/styles/vars.scss";

.demo {
  background-color: $neutral-200;
  padding: $sizing-700 $sizing-300 $sizing-300;

  :global(.title) {
    @extend .headingMD;
    font-size: 27px;
    font-weight: 900;
    margin-bottom: $sizing-300;
  }

  :global(.button) {
    margin-bottom: $sizing-800;
  }

  :global(.thumbnail) {
    cursor: pointer;
  }
}
