@import "@/styles/vars.scss";

.footer {
  background-color: $blue-500;
  padding: $sizing-500 $sizing-300;

  :global(hr) {
    border-color: $blue-300;
    margin: $sizing-500;
  }

  :global(.social) {
    @apply mx-auto w-[60%];

    display: flex;
    justify-content: space-between;
    margin-bottom: $sizing-500;
  }

  :global(.legal) {
    text-align: center;
  }
}
