@import "@/styles/vars.scss";

.integrations {
  background-color: white;
  padding: $sizing-700 $sizing-300 5rem;

  :global(.title) {
    @extend .headingLG;
    font-size: 2.2rem;
    font-weight: 900;
    margin-bottom: $sizing-300;
  }

  :global(.content) {
    @extend .bodyLG;
    font-size: 1.1rem;
    margin-bottom: $sizing-600;
  }

  :global(.brands-wrapper) {
    width: 80%;
    margin-bottom: $sizing-600;

    :global(.brand) {
      display: inline-block;
      width: 50%;
      margin-bottom: $sizing-600;
    }

    :global(.brand-icon) {
      margin-bottom: $sizing-100;
    }

    :global(.label) {
      @extend .bodySM;
      font-weight: 500;
    }
  }
}

@media (min-width: 1400px) {
  .integrations {
    padding: 5rem 0;

    :global(.container) {
      display: flex;
      align-items: center;
    }

    :global(.brands-wrapper) {
      display: flex;
      flex-wrap: wrap;
      margin: 0;

      :global(.brand) {
        width: 20%;
      }
    }
  }
}
