@import "@/styles/vars.scss";

$border-neutral-width: 2px solid $neutral-300;

.navbar {
  @apply bg-white w-full relative flex justify-between;
  padding: $sizing-400 $sizing-300;
  border-bottom: $border-neutral-width;

  :global(.menu-list) {
    position: relative;

    & > li {
      @extend .bodyLG;
      font-size: $sizing-300;
      font-weight: 600;
      list-style-type: none;

      &:global(.has-submenu) {
        :global(.label) {
          display: flex;
          justify-content: space-between;
        }
      }
    }
  }
}

.subMenu {
  list-style-type: none;

  li:first-child {
    color: $blue-500;
    text-transform: uppercase;
    font-family: var(--grotesque-font);
    font-size: 18px;
    font-weight: 600;
    line-height: 110%;
    border-bottom: 1px solid $neutral-300;
  }

  li {
    font-family: var(--nunito-font);
    font-size: 14px;
    line-height: 150%;
  }
}

.menuMobile {
  position: absolute;
  z-index: 1;
  top: 4.6rem;
  left: 0;
  width: 100%;

  :global(.menu-list) {
    background-color: white;
    border-bottom: $border-neutral-width;
    padding: $sizing-300 $sizing-500;

    li {
      padding: $sizing-300 0;
    }

    & > li:not(:last-child) {
      border-bottom: $border-neutral-width;
    }
  }

  .subMenu {
    padding-left: $sizing-300;
  }

  .ctaBlock {
    background-color: $neutral-200;
    padding: $sizing-400 0;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    box-shadow: 0px 6px 12px rgba(33, 36, 41, 0.3);

    :global(.btn-wrapper) {
      display: flex;
      justify-content: space-around;
      width: 70%;

      button {
        height: 90%;
      }
    }
  }
}

.menuDesktop {
  @apply flex items-center justify-end;
  width: 70%;
  // border: 1px solid black;

  :global(.menu-list) {
    display: flex;
    justify-content: space-between;
    margin-right: $sizing-500;
    width: 100%;
    // border: 1px solid red;

    li {
      @extend .bodyLG;
      font-size: $sizing-300;
      font-weight: 600;
      list-style-type: none;

      &:global(.has-submenu) :global(.menu) {
        position: absolute;
        z-index: 1;
        display: flex;
        background: white;
        top: 3rem;
        min-width: 30rem;
        padding: 20px;
        transform: translateX(-25%);
        // border: 1px solid black;

        ul {
        }
      }
    }
  }

  .ctaBlock {
    :global(.btn-wrapper) {
      display: flex;

      button:last-child {
        margin-left: 1rem;
      }
    }
  }
}
