@import "@/styles/vars.scss";

$border-neutral-width: 2px solid $neutral-300;

.navbar {
  @apply bg-white w-full relative block flex justify-between;
  padding: $sizing-400 $sizing-300;
  border-bottom: $border-neutral-width;

  :global(.menu-list) {
    & > li {
      @extend .bodyLG;
      font-size: $sizing-300;
      font-weight: 600;
      list-style-type: none;

      &:global(.submenu) {
        :global(.label) {
          display: flex;
          justify-content: space-between;
        }
      }
    }
  }

  :global(.btn-wrapper) {
    background-color: $neutral-200;
  }
}

.subMenu {
  list-style-type: none;
  padding-left: $sizing-300;

  li:first-child {
    color: $blue-500;
    text-transform: uppercase;
    font-family: var(--grotesque-font);
    font-size: 18px;
    font-weight: 600;
    line-height: 110%;
    border-bottom: 1px solid $neutral-300;
  }

  li {
    font-family: var(--nunito-font);
    font-size: 14px;
    line-height: 150%;
  }
}

.menuMobile {
  position: absolute;
  z-index: 1;
  top: 4.6rem;
  left: 0;
  width: 100%;

  :global(.menu-list) {
    background-color: white;
    border-bottom: $border-neutral-width;
    padding: $sizing-300 $sizing-500;

    li {
      padding: $sizing-300 0;
    }

    & > li:not(:last-child) {
      border-bottom: $border-neutral-width;
    }
  }

  .ctaBlock {
    background-color: $neutral-200;
    padding: $sizing-400 0;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    box-shadow: 0px 6px 12px rgba(33, 36, 41, 0.3);

    :global(.btn-wrapper) {
      display: flex;
      justify-content: space-around;
      width: 70%;

      button {
        height: 90%;

        // &.primary::before {
        //   bottom: -8px;
        //   left: 17px;
        //   // width: 80%;
        // }
        // &.primary::after {
        //   bottom: -8px;
        //   right: 17px;
        // }

        // &.secondary::before {
        //   bottom: -11px;
        //   left: 15px;
        // }

        // &.secondary::after {
        //   bottom: -11px;
        //   right: 15px;
        // }
      }
    }
  }
}

.menuDesktop {
  :global(.menu-list) {
    // ul {
    li {
      @extend .bodyLG;
      font-size: $sizing-300;
      font-weight: 600;
      list-style-type: none;
    }
  }

  :global(.btn-wrapper) {
    button ~ button {
      margin-left: $sizing-300;
    }
  }
}
