@import "../styles/vars.scss";

.slide {
  background-color: white;
  box-shadow: 0px 4px 12px rgba(33, 36, 41, 0.14);
  border-radius: 2px;
  padding: $sizing-500;
  margin-bottom: $sizing-400;

  .iconWrapper {
    background-color: $neutral-200;
    width: 64px;
    height: 64px;
    margin-bottom: $sizing-400;
    border-radius: 100%;
    display: flex;
    justify-content: center;
  }

  .title {
    @extend .headingLG;
    font-size: 25px;
    line-height: 140%;
    margin-bottom: $sizing-300;
  }
  .content {
    @extend .bodyMD;
    font-size: 19px;
    line-height: 150%;
    font-weight: 400;
  }
}
