@import "@/styles/vars.scss";

.together {
  background-color: $neutral-200;
  color: white;
  margin-bottom: $sizing-700;

  :global(.wrapper) {
    background-color: $blue-700;
    clip-path: polygon(2rem 0, 100% 0, 100% 100%, 0 100%, 0 15%);
    padding: 48px $sizing-300 $sizing-700;
  }

  :global(.title) {
    @extend .headingXS;
    font-weight: 800;
    width: 94%;
    margin-bottom: $sizing-300;
  }

  :global(.content) {
    @extend .bodyMD;
    width: 93%;
  }
}

@media (min-width: 1024px) {
  .together {
    :global(.wrapper) {
      background-color: $blue-700;
      clip-path: polygon(3rem 0, 100% 0, 100% 100%, 0 100%, 0 3rem);
      padding: 4rem $sizing-300 4rem 0;
    }

    :global(.container) {
      padding-left: $sizing-300;
    }

    :global(.content) {
      width: 48%;
    }
  }
}

@media (min-width: 1200px) {
  .together {
    :global(.container) {
      padding: 0 $sizing-300;
    }

    :global(.content) {
      width: 48%;
    }
  }
}

@media (min-width: 1300px) {
  .together {
    :global(.container) {
      padding-left: 0;
    }

    :global(.content) {
      width: 47%;
    }
  }
}

@media (min-width: 1900px) {
  .together {
    :global(.content) {
      width: 38%;
    }
  }
}
